name: 'nix flake check'

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lints:
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - run: nix flake check
